@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Zalando+Sans+SemiExpanded:ital,wght@0,200..900;1,200..900&display=swap');

body{
  background-color: #0a0a0a;
  font-family: "Zalando Sans SemiExpanded", Roboto, sans-serif;
}